.country-filter {
  &__header {
<<<<<<< HEAD
    display: block;
<<<<<<< HEAD
    padding-top: 30px;
=======
    padding-top: 17px;
>>>>>>> catalog-pp
=======
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    padding-top: 37px;
    padding-left: 10px;
>>>>>>> catalog-pp-3

    @media (min-width: @screen-md) {
      justify-content: space-between;
      align-items: center;
      padding-top: 59px;
      padding-bottom: 53px;
    }

    @media (min-width: @screen-xl) {
      //
    }
  }

  &__wrapper {
    display: none;
    flex-direction: column;

    @media (min-width: @screen-md) {
      justify-content: space-between;
    }

    @media (min-width: @screen-xl) {
      padding-left: 5.1%;
      padding-top: 23px;
    }
  }

  &__title {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
=======
    margin-right: 21px;
>>>>>>> catalog-pp
=======
    margin-right: 13px;
    flex-basis: 87%;
>>>>>>> catalog-pp-3

    @media (min-width: @screen-md) {
      display: none;
    }

    @media (min-width: @screen-xl) {
      padding-left: 3.4%;
      display: block;
      font-size: 20px;
      flex-basis: 22%;
      margin-left: -3px;
      margin-right: 14px;
    }
  }

  &__toggle {
    order: 2;
    box-sizing: border-box;
    position: relative;
    width: 20px;
    height: 10px;
    background: none;
    border: none;

    @media (min-width: @screen-md) {
      text-transform: uppercase;
      order: 2;
      width: 205px;
      height: 25px;
      display: block;
      padding-right: 27px;
    }

    @media (min-width: @screen-xl) {
      width: 246px;
      padding-right: 91px;
    }

    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      margin-left: -50%;
      width: 100%;
      height: 2px;
      background: black;

      @media (min-width: @screen-md) {
        margin-left: 84%;
        width: 13%;
        height: 1px;
      }
    }

    &--close {
      display: inline-block;
      margin-left: 140px;
      width: 19px;
      height: 19px;
      border: none;
      background-image: url("../img/close.svg");
      background-repeat: no-repeat;

      @media (min-width: @screen-md) {
        display: none;
        min-height: 19px;
        width: 19px;
        height: 19px;
        border: none;
        background-image: url("../img/close.svg");
        background-repeat: no-repeat;
      }

      &::after,
      &::before {
        content: "";
        display: none;
        position: absolute;
        margin-left: -5px;
        width: 25px;
        height: 2px;
        background: #ffffff;
      }
    }

    &::after {
      margin-top: -3.5px;
    }

    &::before {
      margin-top: 3.5px;
    }
  }

  &__toggle-text {
    display: none;

    @media (min-width: @screen-md) {
      display: block;
      font-size: 20px;
      font-weight: 700;
      text-align: left;
    }

    &--all {
      display: none;

      @media (min-width: @screen-md) {
        display: block;
      }

      @media (min-width: @screen-xl) {
        display: none;
      }
    }

    &--close {
      display: none;

      @media (min-width: @screen-xl) {
        display: block;
      }
    }
  }

  &__region {
    //  display:flex;
    display: none;
    flex-direction: column;
    order: 3;

    @media (min-width: @screen-md) {
      order: 1;
      display: flex;
      flex-direction: row;
      width: 58%;
      justify-content: space-between;

      p {
        margin: 0;
      }
    }

    @media (min-width: @screen-xl) {
      width: 28%;
      padding: 0;
      margin-right: auto;
    }
  }

  &__item-value {
    color: @dark-blue-grey;
    text-transform: uppercase;
    font-weight: 700;

    @media (min-width: @screen-md) {
      font-size: 20px;
    }
  }

  &__item {
    list-style: none;
    text-transform: uppercase;

    &:checked + .country-filter__item-value {
      color: @black;
    }
  }

  &__index {
    margin: 0 auto;
    margin-bottom: 26px;
    display: flex;
    flex-wrap: wrap;
    width: 225px;
    background-color: @white;
    border: 1px solid #cbced9;

    @media (min-width: @screen-md) {
      margin: 0;
      border: none;
      background: none;
      width: 65%;
      margin-left: -25px;
    }

    @media (min-width: @screen-xl) {
      width: 100%;
      margin-left: 0;
    }
  }

  &__list {
    @media (min-width: @screen-md) {
      width: 20%;
    }

    @media (min-width: @screen-xl) {
      width: 17%;
      padding-bottom: 58px;

      &:nth-of-type(1),
      &:nth-of-type(23) {
        width: 16.7%;
      }

      &:nth-of-type(3),
      &:nth-of-type(19),
      &:nth-of-type(26) {
        width: 16%;
      }

      &:nth-of-type(6) {
        width: 15%;
      }

      &:nth-of-type(9) {
        width: 16.7%;
      }


      &:nth-of-type(12) {
        width: 16%;
        padding-bottom: 65px;
      }

      &:nth-of-type(15) {
        width: 15%;
      }

      &:nth-of-type(16) {
        width: 16.7%;
      }


      &:nth-of-type(22) {
        width: 15%;
      }

      &:nth-of-type(30) {
        width: 15%;
      }
    }

    &--empty {
      @media (min-width: @screen-md) {
        display: none;
      }
    }
  }

  &__letter-value {
    text-align: center;
    text-transform: uppercase;
    line-height: 45px;
    display: block;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border: 1px solid #cbced9;
    color: #1d2e5b;
    font-size: 14px;

    @media (min-width: @screen-md) {
      color: rgba(25, 33, 68, 0.2);
      border: none;
      font-size: 60px;
      line-height: 24px;
      margin-bottom: 12px;
      margin-left: -4px;
    }
  }

  &__letter {
    &:checked + .country-filter__letter-value {
      background-color: @black;
      color: @white;

      @media (min-width: @screen-md) {
        background: none;
        color: @black;
      }
    }
  }

  &__sumbol {
    margin-bottom: 24px;
    display: none;
    flex-direction: column;

    a {
      text-decoration: none;
      color: @greyish-brown;
      line-height: 22px;
    }

    @media (min-width: @screen-md) {
      a {
        line-height: 30px;
        font-size: 20px;
        font-weight: normal;
      }
    }

    @media (min-width: @screen-xl) {
      display: flex;
    }

    &--common {
      display: flex;

      @media (min-width: @screen-xl) {
        display: none;
      }
    }
  }

  &__close {
    display: none;
    background-color: #d6daed;
    border-radius: 20px;
    font-size: 16.5px;
    font-weight: 700;
    line-height: 29.5px;
    color: @dark;

    @media (min-width: @screen-md) {
      margin-bottom: 30px;
      justify-content: center;
    }

    @media (min-width: @screen-xl) {
      margin-top: 5px;
      margin-bottom: 74px;
      padding-top: 38px;
      padding-bottom: 33px;
      font-size: 20px;
      text-transform: uppercase;
      padding-left: 83px;
    }
  }
}
