.create-profile {
  z-index: 4;
  background-color: @litegray;
  position: relative;
  margin-top: -25px;
  padding-top: 62px;
  padding-bottom: 37px;
  border-radius: 0 0 30px 30px;
  background-image: url("../img/rates@1x.png");
  background-repeat: no-repeat;
  background-position: 88% 17%;
  background-size: 30%;

  @media (min-width: @screen-md) {
    margin-top: -65px;
    padding-top: 127px;
    border-radius: 0 0 65px 65px;
    padding-bottom: 84px;
  }

  @media (min-width: @screen-xl) {
    padding: 0 127px;
    padding-top: 159px;
    padding-bottom: 185px;
  }

  &__wrapper {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: @screen-md) {
      margin-right: 36px;
    }
  }

  &__link {
    box-sizing: border-box;
    padding-top: 15px;
    padding-right: 128px;
    padding-bottom: 44px;
    width: 100%;
    display: block;
    text-decoration: none;
    color: @orange;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;

    span {
      display: none;
    }

    @media (min-width: @screen-md) {
      padding-left: 13px;
      padding-top: 13px;
      padding-right: 0;
      padding-bottom: 74px;
      font-size: 45px;
      line-height: 45px;
      background-image: none;
      text-align: center;

      span {
        display: inline;
      }
    }

    @media (min-width: @screen-xl) {
      margin-bottom: 60px;
    }
  }

  &__block {
    padding-bottom: 32px;

    @media (min-width: @screen-md) {
      padding-left: 66px;
      margin-bottom: 25px;
    }
  }

  &__price {
    font-weight: bold;
    text-decoration: none;
    color: #192144;

    &:hover {
      color: rgba(22, 28, 53, 0.7);
    }

    &:active {
      color: rgba(22, 28, 53, 0.2);
    }

    @media (min-width: @screen-md) {
      padding-left: 64px;
      font-size: 20px;
      font-weight: bold;

      &::before {
        margin-left: -88px;
        margin-top: -20px;
        position: absolute;
        content: attr(data-id);
        display: block;
        line-height: 34px;
        width: 67px;
        height: 67px;
        border-radius: 50%;
        background-color: #e2e5f2;
        text-align: center;
        background-image: url("../img/user.svg");
        background-size: 39%;
        background-repeat: no-repeat;
        background-position: 49%, 46%;
      }
    }
  }
}
