.feedback-block {
  position: relative;
  padding: 0 25px;
  z-index: 3;
  background-color: @blue;
  margin-top: -45px;
  padding-top: 120px;
  padding-bottom: 30px;
  border-radius: 0 0 25px 25px;

  &__wrapper {
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: @screen-md) {}

    @media (min-width: @screen-xl) {}

  }

  &__title {
    color: @orange;
    font-size: 24px;

    @media (min-width: @screen-md) {
      text-align: center;
    }

  }

  &__text {
    margin: 0;
    padding: 0;
    width: 200px;
    color: @white;
    font-weight: 300;
    line-height: 22px;
    text-align: center;

    @media (min-width: @screen-md) {
      width: 606px;
    }

    a {
      text-decoration: none;
      color: @yellow;
    }
  }

  &__form {
    margin-top: 32px;
    width: 270px;

    @media (min-width: @screen-md) {
      padding-left: 75px;
      padding-right: 75px;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
