.feedback-block {
  position: relative;
  z-index: 3;
  background-color: @background;
  margin-top: -30px;
  padding-top: 101px;
  border-radius: 0 0 30px 30px;

  @media (min-width: @screen-md) {
    border-radius: 0 0 35px 35px;
    padding-bottom: 80px;
  }

  &__wrapper {
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: @screen-md) {
      margin: 0 35px;
      margin-bottom: 67px;
    }
  }

  &__title {
    color: @orange;
    font-size: 24px;
    text-align: center;
    margin-bottom: 17px;

    @media (min-width: @screen-md) {
      font-size: 45px;
      line-height: 45px;
      margin-bottom: 60px;
    }
  }

  &__text {
    margin: 0 auto;
    padding: 0;
    width: 200px;
    color: @white;
    font-weight: 300;
    line-height: 22px;
    text-align: center;

    @media (min-width: @screen-md) {
      width: 99%;
      font-size: 28px;
      line-height: 33px;
    }

    a {
      text-decoration: none;
      color: @yellow;
    }
  }

  &__form {
    margin-top: 30px;

    @media (min-width: @screen-md) {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
