.feedback {
  &__email {
    width: 225px;

    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    padding: 24px;
    color: @greyish-brown-30;
    border: none;
    border-radius: 10px;
    margin-bottom: 32px;

    @media (min-width: @screen-md) {
      width: 100%;
    }

  }

  &__submit {
    display: block;
    position: absolute;
    margin-top: -99px;
    margin-left: 213px;
    width: 60px;
    padding: 24.5px;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: @yellow;
    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 14px;

    @media (min-width: @screen-md) {
      margin-left: 556px;
    }
  }

  &__question {
    margin: 0;
    padding: 0;
    margin-bottom: 36px;
    width: 220px;
    color: @white;
    font-weight: 300;
    line-height: 22px;
    text-align: center;

    @media (min-width: @screen-md) {
      display: inline-block;
      width: 100%;
    }

  }
}
