.fellow-travellers-filter {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: #e2e5f2;
  padding-bottom: 17px;
  border-radius: 0 0 20px 20px;

  @media (min-width: @screen-md) {
    padding: 0 75px;
    border-radius: 0 0 35px 35px;
    padding-bottom: 57px;
  }
}
