.header-content {
  background-color: #161c35;
  margin: 0 auto;

  @media (min-width: @screen-md) {
    background-color: transparent;
  }

  @media (min-width: @screen-xl) {
    display: flex;
    position: relative;
    min-height: 651px;
    justify-content: space-between;
  }

  &__wrapper {
    margin: 0 7.8%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    @media (min-width: @screen-md) {
      margin: 0 40px;
    }

    @media (min-width: @screen-xl) {
      justify-content: flex-start;
      margin: 0 111px;
    }
  }

  &__title {
    margin: 0;
    padding-bottom: 6px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    font-size: 36px;
    color: @white;
    text-align: center;

    @media (min-width: @screen-md) {
      margin: 0 auto;
      margin-top: 12px;
      width: 395px;
      font-size: 60px;
      line-height: 70px;
      color: @white;
      text-align: center;
      padding-bottom: 30px;
    }

    @media (min-width: @screen-xl) {
      margin-left: 6px;
      margin-top: 78px;
      width: 55%;
      text-align: left;
    }
  }

  &__traveller {
    width: 100%;
    height: 255px;
    display: block;
    margin: 0 auto;
    background: url("../img/traveller-illustration-mobile@1x.png") no-repeat,
      #161c35 url("../img/globe-back-mobile@1x.jpg") no-repeat;
    background-size: auto 100%, 100% 170%;
    background-position: 62% 0%, 50% 100%;

    @media (min-width: @screen-md) {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: -1;
      width: 768px;
      height: 598px;
      background: url("../img/traveller-illustration-tablet@1x.png") no-repeat,
        #161c35 url("../img/globe-back-tablet@1x.jpg") no-repeat;
      background-size: auto 76%, auto 105%;
      background-position: 71.7% 0%, 50% 100%;
    }

    @media (min-width: @screen-xl) {
      width: 1439px;
      height: 640px;
      left: 0;
      transform: none;
      background: url("../img/traveller-illustration-desktop@1x.png") no-repeat,
        #161c35 url("../img/globe-back-desktop@1x.jpg") no-repeat;
      background-size: auto 100%, auto 118%;
      background-position: 59.8% 0%, 51% 100%;
    }
  }

  &__navigation {
    width: 100%;
  }

  &__navigation-items {
    margin: 0 auto;
    margin-bottom: 23px;
    margin-top: -20px;
    display: flex;
    flex-direction: row-reverse;

    @media (min-width: @screen-md) {
      display: none;
    }
  }
}
