.header-content {
  margin-bottom: 50px;
  background: #161c36 url(../img/globe-back-mobile@1x.jpg) 50% top / cover;
  background-size: 100% 115%;
}
.header-content-wrapper {
  margin: 0 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.header-content__title {
  font-size: 36px;
  color: #ffffff;
  text-align: center;
}
.header-content__traveller {
  display: block;
  margin: 0 auto;
}
