// @import url(../blocks/var_style.less);
.header-content {
  margin-bottom: 50px;
  background: @background url(../img/globe-back-mobile@1x.jpg) 50% top/cover;
  background-size: 100% 115%;

  &-wrapper {
    margin: 0 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__title {
    font-size: 36px;
    color: @white;
    text-align: center;
  }

  &__traveller {
    display: block;
    margin: 0 auto;
  }
}
