.level {
  &__circles {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-weight: bold;

    &--catalog {
      width: 45px;
      height: 45px;

      @media (min-width: @screen-md) {
        width: 60px;
        height: 60px;
      }
    }
  }
}
