.logotype {
  &__img {
    width: 100px;

    @media (min-width: @screen-md) {
      width: 166px;
<<<<<<< HEAD
=======
      padding-top: 4px;
>>>>>>> catalog-pp
    }

    @media (min-width: @screen-xl) {
      width: 200px;
    }
  }
}
