.main-footer {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 7.81%;
  z-index: 8;
  background-color: @white;
  margin-top: -25px;
  padding-top: 31px;
  padding-bottom: 21px;
  border-radius: 25px 25px 0 0;

  @media (min-width: @screen-md) {
    max-width: @screen-xl;
    padding: 0 5.2%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -99px;
    border-radius: 65px 65px 0 0;
    padding-top: 50px;
    padding-bottom: 42px;
  }

  @media (min-width: @screen-xl) {
    padding: 0 4%;
    padding-top: 48px;
    margin-top: -108px;
    padding-bottom: 42px;
  }

  &--catalog {
    padding-top: 36px;

    @media (min-width: @screen-md) {
      padding-top: 50px;
    }
  }

  &__copyright {
    position: relative;
    width: 100%;
    text-decoration: none;
    color: @greyish-brown;
    font-weight: normal;
    padding-top: 29px;
    border-top: 1px solid @litegray;
    display: flex;
    align-items: center;

    svg {
      width: 27px;
      height: 34px;
      display: block;
      position: absolute;
      right: 0;
    }

    &:hover {
      color: rgba(68, 68, 68, 0.7);
      fill: rgba(68, 68, 68, 0.7);
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
      fill: rgba(68, 68, 68, 0.3);
    }

    @media (min-width: @screen-md) {
      border: none;
      width: auto;
      padding-top: 0;
      padding-right: 52px;
      font-size: 20px;

      &::before {
        margin-top: auto;
        right: 1px;
        top: -4px;
      }
    }

    @media (min-width: @screen-xl) {
      &::before {
        margin-top: -7px;
      }
    }
  }
}
