.main-header {
  &__container {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    background-color: #161c35;

    @media (min-width: @screen-md) {
      background-color: #192144;
    }

    @media (min-width: @screen-xl) {
      width: @screen-xl;
      background: transparent;
    }

    &--catalog {
      border-radius: 0 0 25px 25px;

      @media (min-width: @screen-md) {
        border-radius: 0 0 35px 35px;
      }
    }
  }

  &--catalog {
    position: relative;
    z-index: 5;
    background-color: @dark;
    margin-top: 0;
    padding-top: 19px;
    padding-bottom: 70px;
  }

  &__block-logo {
    display: flex;
    align-items: center;

    @media (min-width: @screen-md) {
      padding-top: 7px;
    }
  }

  &__logo {
    display: block;
    // width: 100px;
    // height: 19px;
    // background-image: url("../img/logo-mobile-white@1x.png");

    @media (min-width: @screen-md) {
      // width: 166px;
      // height: 42px;
      // background-image: url("../img/logo-tablet-white@1x.png");
    }
  }

  &__wrapper {
    position: relative;
    padding: 0 7.81%;
    padding-top: 17px;
    padding-bottom: 22px;
    display: flex;
    justify-content: space-between;

    @media (min-width: @screen-md) {
      padding: 0 5.21%;
      padding-top: 35px;
      padding-bottom: 38px;
    }

    @media (min-width: @screen-xl) {
      padding: 0 4.21%;
      padding-top: 42px;
      padding-bottom: 2px;
    }

    &--catalog {
      background-color: @dark;

      @media (min-width: @screen-md) {
        padding-top: 40px;
        padding-bottom: 38px;
      }
    }
  }

  &__catalog-title-nav {
    box-sizing: border-box;
    width: 100%;
    padding: 0 25px;
    padding-top: 59px;
    border-radius: 0 0 20px 20px;
    background-color: @dark;

    @media (min-width: @screen-md) {
      padding: 0 77px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 136px;
      border-radius: 0 0 45px 45px;
    }
  }
}
