.main-header {
  margin-top: 27px;
}
.main-header--catalog {
  position: relative;
  z-index: 5;
  background-color: #161c35;
  margin-top: 0px;
  padding-top: 19px;
  padding-bottom: 70px;
}
.main-header-wrapper {
  margin: 0 25px;
  display: flex;
  justify-content: space-between;
}
.main-header-wrapper--catalog {
  background-color: #161c35;
}
