// @import url(../blocks/var_style.less);
.main-nav {
  position: relative;

  .create-profile &-list {
    &__wrapper {
      display: flex;
    }
  }

  &__wrapper {
    // toggle
    display: none;
    //------------flex------
    z-index: 7;
    box-sizing: border-box;
    padding: 25px;
    position: absolute;
    left: -270px;
    top: -25px;
    width: 320px;
    height: 100vh;
    flex-direction: column;
    background-color: @white;
  }

  &__toggle {
    width: 25px;
    height: 10px;
    background: none;
    border: none;

    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      margin-left: -5px;
      width: 25px;
      height: 2px;
      background: #ffffff;
    }

    &--close {
      position: absolute;
      margin-left: 250px;
      width: 19px;
      height: 19px;
      border: none;
      background-image: url("../img/close.svg");
      background-repeat: no-repeat;

      &::after,
      &::before {
        content: "";
        display: none;
        position: absolute;
        margin-left: -5px;
        width: 25px;
        height: 2px;
        background: #ffffff;
      }
    }

    &::after {
      margin-top: -3.5px;
    }

    &::before {
      margin-top: 3.5px;
    }
  }
}
