.reviews {
  margin-bottom: 33px;

  @media (min-width: 768px) {
    margin-bottom: 163px;
    z-index: 1;
  }

  &__wrapper {
    margin: 0 25px;
    margin-top: 50px;

    @media (min-width: 768px) {
      margin: 0 25px;
      margin-top: 50px;
    }
  }

  &__list {
    // margin: 0 25px;
  }
}

.reviews-item {
  width: 170px;
  color: #ffffff;

  @media (min-width: 768px) {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-top: 59px;
    width: 42%;
    color: #ffffff;
  }

  &__text {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    line-height: 22px;

    @media (min-width: 768px) {
      margin: 0;
      padding: 0;
      font-weight: 300;
      font-size: 28px;
      text-align: left;
      color: #ffffff;
      line-height: 33px;
    }
  }

  &__author {
    font-size: 16px;
    text-align: left;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 21px;
      line-height: 25px;
      text-align: left;
      color: #ffffff;
    }
  }
}
