.road-map {
  list-style: none;

  &__wrapper {
    padding: 0 7.81%;
    padding-top: 24px;
    padding-bottom: 25px;

    @media (min-width: @screen-md) {
      padding: 0 4.7%;
      padding-top: 40px;
      padding-bottom: 34px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 21px;
    color: #1d2e5b;

    @media (min-width: @screen-md) {
      margin-bottom: 54px;
      font-size: 24px;
      line-height: 50px;
    }
  }
}
