.road-map {
  list-style: none;

  &__wrapper {
    padding: 0 7.81%;
    padding-top: 24px;
    padding-bottom: 25px;

    @media (min-width: @screen-md) {
      padding: 0 4.7%;
      padding-top: 40px;
      padding-bottom: 0;
    }

    @media (min-width: @screen-xl) {
      padding: 17px 3.5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 21px;
    color: #1d2e5b;
    font-weight: bold;

    @media (min-width: @screen-md) {
      position: relative;
      margin-bottom: 34px;
      font-size: 24px;
      line-height: 50px;

      span {
        font-size: 20px;
        position: absolute;
        right: 0;
      }
    }

    @media (min-width: @screen-xl) {
      margin-bottom: 0;

      span {
        font-size: 20px;
        position: static;
      }
    }
  }

  &__info {
    @media (min-width: @screen-md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media (min-width: @screen-xl) {
      width: 50%;
    }
  }

  &__number {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1.4px;
    line-height: 14px;
    color: #1d2e5b;

    @media (min-width: @screen-md) {
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 18px;
    }
  }

  &__duration {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1.4px;
    line-height: 14px;
    color: #1d2e5b;

    @media (min-width: @screen-md) {
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 18px;
    }
  }

  &__edit {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1.4px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);

    @media (min-width: @screen-md) {
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 18px;
    }
  }
}
