.route-select {
  @media (min-width: @screen-md) {
    padding-top: 40px;
  }

  @media (min-width: @screen-xl) {
    padding-top: 64px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 26px;

    @media (min-width: @screen-md) {
      margin-top: 0;
      margin-bottom: 52px;
    }

    @media (min-width: @screen-xl) {
      margin-bottom: 59px;
    }
  }

  &__wrapper {
    display: none;
    list-style: none;
    padding: 0;
    margin-top: 24px;
    margin-bottom: -1px;

    z-index: 1;
    position: absolute;
    background-color: #ffffff;

    @media (min-width: @screen-md) {
      padding: 29px 0;
      padding-bottom: 63px;
      margin: 0;
    }

    @media (min-width: @screen-xl) {
      padding: 0;
    }
  }

  &__title {
    font-size: 22.5px;
    line-height: 22.5px;
    margin: 0;
    padding: 0;

    @media (min-width: @screen-md) {
      font-size: 30px;
      padding-bottom: 40px;
    }

    @media (min-width: @screen-xl) {
      text-align: left;
      line-height: 30px;
      padding-bottom: 24px;
    }
  }

  &__dropdown {
    border: 1px solid #cbced9;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 22px;

    a {
      text-decoration: none;
    }

    [data-toggle="dropdown"] {
      position: relative;
      display: block;
      color: #1d2e5b;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 1.4px;
      padding: 10px 0;
      padding-bottom: 11px;
      text-transform: uppercase;
      padding-left: 7px;
    }

    @media (min-width: @screen-md) {
      display: flex;
      margin-bottom: 15px;
      border: none;

      [data-toggle="dropdown"] {
        width: 65%;
        font-size: 20px;
        font-weight: 500;
        padding-top: 27px;
        padding-bottom: 23px;
        padding-left: 5%;
        letter-spacing: 2px;
      }
    }

    @media (min-width: @screen-xl) {
      display: block;

      [data-toggle="dropdown"] {
        width: 70.5%;
        padding-left: 2.6%;
        padding-bottom: 23px;
        border: 1px solid #cbced9;
        border-radius: 10px;
      }
    }

    &--vehicle {
      align-items: center;
    }

    &--level {
      align-items: center;
    }
  }

  &__dropdown-menu {
    display: none;
    list-style: none;
    padding: 0;
    padding-bottom: 11px;

    li {
      display: flex;
      align-items: center;
      padding: 0;
      padding-top: 2px;
      padding-bottom: 10px;

      a {
        display: block;
      }
    }

    @media (min-width: @screen-md) {
      width: 100%;
      padding-bottom: 8px;

      li {
        width: 33%;
        padding: 0;
        display: flex;
        align-items: center;

        &:nth-child(1) {
          width: 37%;
        }

        &:nth-child(2) {
          width: 38%;
        }
      }
    }

    @media (min-width: @screen-xl) {
      flex-direction: column;
      width: auto;
      padding-top: 8px;

      li {
        width: auto;

        a {
          margin-top: 7px;
          margin-bottom: 15px;
        }

        &:nth-child(1) {
          width: auto;
        }

        &:nth-child(2) {
          width: auto;
        }
      }
    }

    &--vehicle {
      padding-top: 2px;
    }
  }

  &__checked {
    overflow: hidden;
    white-space: nowrap;
    width: 75%;
    border: 1px solid #cbced9;
    border-radius: 4px;
  }

  &__icon-arrow {
    position: absolute;
    display: block;
    font-size: 0.7em;
    color: black;
    top: 0;
    right: 1px;
    width: 49px;
    text-align: right;
    height: 39px;
    margin-top: 1px;
    padding-top: 9px;
    box-sizing: border-box;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), #ffffff);

    &::before {
      content: "\25BC";
    }

    @media (min-width: @screen-md) {
      display: inline-block;
      top: 6px;
      right: auto;
      font-size: 20px;
      font-style: normal;

      &::before {
        content: ":";
      }
    }

    @media (min-width: @screen-xl) {
      display: block;
      top: 15px;
      right: 10px;

      &::before {
        content: "\25BC";
      }
    }
  }

  &__add-country {
    width: 100%;
    border: none;
    text-align: left;
    position: relative;
    display: block;
    color: #1d2e5b;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1.4px;
    padding: 10px 0;
    padding-bottom: 11px;
    text-transform: uppercase;
    padding-left: 7px;
    background-color: #edeff6;

    @media (min-width: @screen-md) {
      width: 70%;
      font-size: 20px;
      font-weight: 500;
      padding-top: 27px;
      padding-bottom: 23px;
      padding-left: 5%;
      letter-spacing: 2px;
    }

    @media (min-width: @screen-xl) {
      width: 73.2%;
      padding-left: 2.6%;
    }
  }

  &__item {
    width: 18px;
    height: 18px;

    @media (min-width: @screen-md) {
      width: 25px;
      height: 25px;
    }
  }

  &__item-value {
    padding-left: 9px;
    font-size: 15px;
    color: @greyish-brown;

    @media (min-width: @screen-md) {
      font-size: 20px;
      font-weight: normal;
      line-height: 41px;
      padding-left: 10px;
    }
  }

  &__level {
    padding: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    li {
      padding: 0;
    }

    @media (min-width: @screen-md) {
      flex-direction: row-reverse;
      justify-content: space-between;

      li {
        &:nth-child(1) {
          width: 30.8%;
        }

        &:nth-child(2) {
          width: 63%;
        }
      }
    }

    @media (min-width: @screen-xl) {
      margin-top: 9px;

      li {
        width: 100%;

        &:nth-child(1),
        &:nth-child(2) {
          width: 100%;
        }
      }
    }
  }

  &__level-input {
    margin: 0;
    width: 51%;
    padding: 6px 0;
    display: inline-block;
    text-align: center;

    &:last-child {
      margin-left: -6px;
    }

    @media (min-width: @screen-md) {
      width: 75px;
    }

    @media (min-width: @screen-xl) {
      width: 100%;
      padding: 8px 0;
      padding-left: 13px;
    }
  }

  &__level-range {
    width: 270px;
    padding: 18px;

    @media (min-width: @screen-xl) {
      margin-top: 21px;
    }
  }

  &__show {
    background-color: #ffffff;
    width: 105%;
    font-size: 17px;
    font-weight: 700;
    color: #161c35;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 43px;
    margin-left: -5px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: @screen-md) {
      font-size: 24px;
      border-radius: 25px;
      position: absolute;
      margin-top: 22px;
      margin-left: 40px;
      padding-right: 0;
      padding-left: 0;
      text-align: right;
      width: 27%;
      text-transform: none;

      &--step-3 {
        margin-top: 38px;
      }
    }

    @media (min-width: @screen-xl) {
      position: static;
      margin-left: 43.6%;
    }
  }
}
