.selection-stages {
  width: 100%;
  margin-bottom: 33px;
  z-index: 8;

  @media (min-width: @screen-md) {
    width: 100%;
    z-index: 8;
  }

  @media (min-width: @screen-xl) {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
  }
}

.selection-stages-list {
  padding: 0;
  margin: 14px 0 0 0;

  @media (min-width: @screen-md) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    padding-top: 22px;
    padding-left: 25px;
    padding-right: 102px;
    padding-bottom: 22px;
    margin: 0;
    background-color: #ffd74b;
    list-style: none;

    &:nth-of-type(1) {
      border-radius: 10px 10px 0 0;
      background-color: @orange;
    }

    &:nth-of-type(2) {
      background-color: @orange2;
    }

    &:nth-of-type(3) {
      background-color: @liteorange;
    }

    &:nth-of-type(4) {
      border-radius: 0 0 10px 10px;
    }

    &::before {
      font-weight: bold;
      font-size: 18px;
      right: 9px;
      top: 15px;
      position: absolute;
      content: attr(data-id);
      display: block;
      line-height: 34px;
      width: 34px;
      height: 34px;
      text-align: center;
      font-style: 18px;
    }

    &[data-id="1"]::before {
      color: @white;
    }

    &[data-id="2"]::before {
      color: @white;
    }

    &[data-id="3"]::before {
      color: @white;
    }

    &[data-id="4"]::before {
      color: @white;
    }

    @media (min-width: 768px) {
      width: 50%;
      padding-top: 31px;
      padding-left: 31px;
      padding-bottom: 0;

      &::before {
        font-size: 30px;
        left: 25px;
        bottom: 15px;
        top: auto;
      }

      &:nth-of-type(1) {
        border-radius: 20px 0 0 0;
      }

      &:nth-of-type(2) {
        border-radius: 0 20px 0 0;
      }

      &:nth-of-type(3) {
        border-radius: 0 0 0 20px;
      }

      &:nth-of-type(4) {
        border-radius: 0 0 20px 0;
      }
    }

    @media (min-width: @screen-xl) {
      width: 25%;
      padding-top: 29px;
      padding-left: 35px;
      padding-bottom: 31px;

      &::before {
        left: auto;
        right: 25px;
        top: 29px;
        font-size: 30px;
      }

      &:nth-of-type(1) {
        border-radius: 20px 0 0 20px;
      }

      &:nth-of-type(2) {
        border-radius: 0;
      }

      &:nth-of-type(3) {
        border-radius: 0;
      }

      &:nth-of-type(4) {
        border-radius: 0 20px 20px 0;
      }
    }
  }

  &__text {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;

    @media (min-width: 768px) {
      width: 200px;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 62px;
    }

    @media (min-width: @screen-xl) {
      margin-bottom: 0;
    }
  }
}
