.site-main {
  &__container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;

    @media (min-width: @screen-md) {
      // width: @screen-md;
      max-width: @screen-xl;
    }
  }
}
