.site-main {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @screen-md) {
    min-width: @screen-md;
    max-width: @screen-xl;
  }

  @media (min-width: @screen-xl) {
    width: @screen-xl;
  }
}
