.site-navigation {
  padding: 0;
  margin: 0;
  margin-bottom: 51px;
  text-align: center;

  @media (min-width: @screen-md) {
    text-align: left;
    padding: 0 8%;
  }

  @media (min-width: @screen-xl) {
    text-align: center;
    margin: 0;
    padding-left: 126px;
    position: relative;
  }

  &__item {
    padding: 0;
    margin: 0;
    list-style: none;
    text-transform: uppercase;

    a {
      text-decoration: none;
      text-align: center;
      font-weight: 500;
      font-size: 30px;
      line-height: 30px;
      color: @black;

      @media (min-width: @screen-md) {
        font-size: 60px;
        text-align: left;
      }

      @media (min-width: @screen-xl) {
        color: @white;
        font-size: 20px;
      }
    }

    @media (min-width: @screen-xl) {
      padding: 15px 17.3px;
      padding-top: 21px;
    }

    &--menu {
      padding-bottom: 7px;

      @media (min-width: @screen-md) {
        padding-bottom: 30px;
      }
    }
  }
}
