.travel-filter {
  &__wrapper {
    list-style: none;
    padding: 0;
    margin-top: 24px;
    margin-bottom: -1px;

    @media (min-width: @screen-md) {
      padding: 29px 0;
      padding-bottom: 63px;
      margin: 0;
    }

    @media (min-width: @screen-xl) {
      padding: 0;
    }
  }

  &__title {
    font-size: 22.5px;
    line-height: 22.5px;
    margin: 0;
    padding: 0;

    @media (min-width: @screen-md) {
      font-size: 30px;
      padding-bottom: 40px;
    }

    @media (min-width: @screen-xl) {
      text-align: left;
      line-height: 30px;
      padding-bottom: 24px;
    }
  }

  &__dropdown {
    a {
      text-decoration: none;
    }

    [data-toggle="dropdown"] {
      position: relative;
      display: block;
      color: #1d2e5b;
      font-size: 16px;
      font-weight: 700;
      padding: 10px 0;
      padding-left: 1px;
      padding-bottom: 11px;
      border-bottom: 1px solid #f3c72b;
      text-transform: uppercase;
    }

    @media (min-width: @screen-md) {
      display: flex;

      [data-toggle="dropdown"] {
        width: 25.5%;
        border: none;
        font-size: 20px;
        font-weight: 500;
      }
    }

    @media (min-width: @screen-xl) {
      display: block;

      [data-toggle="dropdown"] {
        width: auto;
        // border-bottom: 1px solid #f3c72b;
        padding-bottom: 7px;
      }
    }

    &--vehicle {
      align-items: center;
    }

    &--level {
      align-items: center;
    }
  }

  &__dropdown-menu {
    display: none;
    list-style: none;
    padding: 0;
    padding-bottom: 11px;

    li {
      display: flex;
      align-items: center;
      padding: 0;
      padding-top: 2px;
      padding-bottom: 10px;

      a {
        display: block;
      }
    }

    @media (min-width: @screen-md) {
      width: 100%;
      padding-bottom: 8px;

      li {
        width: 33%;
        padding: 0;
        display: flex;
        align-items: center;

        &:nth-child(1) {
          width: 37%;
        }

        &:nth-child(2) {
          width: 38%;
        }
      }
    }

    @media (min-width: @screen-xl) {
      flex-direction: column;
      width: auto;
      padding-top: 8px;

      li {
        width: auto;

        a {
          margin-top: 7px;
          margin-bottom: 15px;
        }

        &:nth-child(1) {
          width: auto;
        }

        &:nth-child(2) {
          width: auto;
        }
      }
    }

    &--vehicle {
      padding-top: 2px;
    }
  }

  &__icon-arrow {
    position: absolute;
    display: block;
    font-size: 0.7em;
    color: black;
    top: 15px;
    right: 10px;

    &::before {
      content: "\25BC";
    }

    @media (min-width: @screen-md) {
      display: inline-block;
      top: 6px;
      right: auto;
      font-size: 20px;
      font-style: normal;

      &::before {
        content: ":";
      }
    }

    @media (min-width: @screen-xl) {
      display: block;
      top: 15px;
      right: 10px;

      &::before {
        content: "\25BC";
      }
    }
  }

  &__item {
    width: 18px;
    height: 18px;

    @media (min-width: @screen-md) {
      width: 25px;
      height: 25px;
    }
  }

  &__item-value {
    padding-left: 9px;
    font-size: 15px;
    color: @greyish-brown;

    @media (min-width: @screen-md) {
      font-size: 20px;
      font-weight: normal;
      line-height: 41px;
      padding-left: 10px;
    }
  }

  &__level {
    padding: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    li {
      padding: 0;
    }

    @media (min-width: @screen-md) {
      flex-direction: row-reverse;
      justify-content: space-between;

      li {
        &:nth-child(1) {
          width: 30.8%;
        }

        &:nth-child(2) {
          width: 63%;
        }
      }
    }

    @media (min-width: @screen-xl) {
      margin-top: 9px;

      li {
        width: 100%;

        &:nth-child(1),
        &:nth-child(2) {
          width: 100%;
        }
      }
    }
  }

  &__level-input {
    margin: 0;
    width: 51%;
    padding: 6px 0;
    display: inline-block;
    text-align: center;

    &:last-child {
      margin-left: -6px;
    }

    @media (min-width: @screen-md) {
      width: 75px;
    }

    @media (min-width: @screen-xl) {
      width: 100%;
      padding: 8px 0;
      padding-left: 13px;
    }
  }

  &__level-range {
    width: 270px;
    padding: 18px;

    @media (min-width: @screen-md) {
    }

    @media (min-width: @screen-xl) {
      margin-top: 21px;
    }
  }

  &__show {
    background-color: @white;
    width: 105%;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    color: @dark;
    padding-top: 7px;
    padding-bottom: 3px;
    padding-left: 43px;
    margin-left: -5px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: @screen-md) {
      font-size: 20px;
      border-radius: 25px;
      padding-top: 12px;
      padding-bottom: 8px;
    }
  }
}
