.user-social {
  margin: 0 auto;
  margin-top: 23px;
  display: flex;
  align-items: center;

  @media (min-width: @screen-md) {
    margin-top: 153px;
    margin-left: 8%;
  }

  &--footer {
    margin-top: 34px;
    margin-bottom: 31px;

    @media (min-width: @screen-md) {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 13%;
    }

    @media (min-width: @screen-xl) {
      margin: 0 auto;
      padding-right: 3.4%;
    }
  }

  &__item {
    position: relative;
    margin: 0 14px;
    text-decoration: none;
    color: @white;
    width: 27px;
    height: 27px;

    &--menu {
      fill: #cccccc;

      &:hover {
        fill: rgba(0, 0, 0, 0.7);
      }

      &:active {
        fill: rgba(0, 0, 0, 0.3);
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &--circle {
      margin: 0;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: @yellow;

      &:hover {
        background-color: #192144;
        color: @white;
      }

      &:hover .user-social__item-icon {
        fill: rgba(255, 255, 255, 0.7);
      }

      &:active {
        background-color: #192144;
        color: @white;
        fill: rgba(255, 255, 255, 0.3);
      }

      &:active .user-social__item-icon {
        fill: rgba(255, 255, 255, 0.3);
      }

      @media (min-width: @screen-md) {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__item-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: black;
  }
}
