// @import url(../blocks/var_style.less);
.user-social {
  margin: 0 auto;
  margin-top: 63px;
  display: flex;
  align-items: center;

  &--footer {
    margin-top: 41px;
    margin-bottom: 31px;
  }

  &__item {
    margin: 0 14px;
    text-decoration: none;
    color: @white;

    &--facebook {
      background-image: url(../img/facebook.svg);
      background-repeat: no-repeat;
      background-size: 11px;
      background-position: 50% 50%;
    }

    &--instagram {
      background-image: url(../img/instagram.svg);
      background-repeat: no-repeat;
      background-size: 19px;
      background-position: 50% 50%;
    }

    &--vkontakte {
      background-image: url(../img/vk.svg);
      background-repeat: no-repeat;
      background-size: 26px;
      background-position: 50% 50%;
    }

    &--circle {
      margin: 0;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: @yellow;
    }
  }
}
